/* Разделитель */
.b-example-divider {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 207, 10, 0.1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(126, 125, 125, 0.1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.dropdown-item-danger {
  color: var(--bs-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red);
}
.dropdown-item-danger.active {
  background-color: var(--bs-red);
}

.dropdown-item-gray:hover,
.dropdown-item-gray:focus {
  background-color: var(--bs-gray-300);
}

.dropdown-item-gray.active {
  background-color: var(--bs-gray-300);
}

.form-control-dark {
  background-color: rgba(255, 255, 255, .05);
  border-color: rgba(255, 255, 255, .15);  
}
.border-dark {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}
.form-control-dark::placeholder {
  color: grey !important;
  opacity: 1 !important;
}

.btn-hover-light {
  text-align: left;
  background-color: var(--bs-white);
  border-radius: 0.25rem;
}
.btn-hover-light:hover,
.btn-hover-light:focus {
  color: var(--bs-blue);
  background-color: var(--bs-light);
}